<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <h1>Clients</h1>


            {% if clients is not empty %}
                <p>Here are all your clients:</p>
                <ul>
                    {% for client in clients %}
                        <li><a href="/clients/{{ client.getId }}/description">{{ client.getClientName }}
                        {% for cuisine in cuisines %}
                            {% if stylist.getId == client.getStylistId %}
                            <em>{{ stylist.getName}}</em>
                            {% endif %}
                        {% endfor %}
                        </a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Please Enter a Client...</p>
            {% endif %}

            <p><a href='/'>Home</a></p>

            <form action='/delete_clients' method='post'>
                <button type='submit'>Delete Clients</button>
            </form>
        </div>
    </body>
</html>
