<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <h1>Stylists and Clients</h1>

            <p>Add a new Stylist:</p>

            <form action='/stylists' method='post'>
                <label for='name'>Stylist Name:</label>
                <input id='name' name='name' type='text'>

                <button type='submit'>Add stylist</button>
            </form>

            {% if stylists is not empty %}
                <p>Here are all your stylists:</p>
                <ul>
                    {% for stylist in stylists %}
                    <!-- MAYBE RENAME THIS URL? -->
                        <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no stylists yet!</p>
            {% endif %}

            <p><a href="/clients">Click here</a> to see all of the clients and to add a client.</p>
            <p><a href="/total">Click here</a> to see all of the clients and stylists.</p>

            <form action='/delete_stylists' method='post'>
                <button type='submit'>Delete All</button>
            </form>
        </div>

    </body>
</html>
